<section class="inbox">
  <div class="inbox__container">
    <h2 class="inbox__container__h2">صندوق ورودی</h2>
    <app-task-list/>
    @if (!this.InboxService.isActiveBoxAddTask() && this.InboxService.isActiveBoxEditeTask() === 0) {
      <button class="inbox__container__button" (click)="open_box_add_task()">
        <i class="pi pi-plus"></i>
        وظیفه اضافه کنید
      </button>
    } @else {
      <app-form-add-edit-task/>
    }
    @if (isDataTask) {
      <app-alert-no-task/>
    }
  </div>
</section>
