@import "../../../assets/scss/variabels";

.inbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 56px);

  &__container {
    width: 800px;

    &__h2 {
      color: #000000;
      font-family: $fontFamilyBold;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    &__button {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #666;
      margin: 1rem 0;
      transition: all .3s;

      i {
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin-left: 6px;
        transition: all .3s;
      }

      &:hover {
        color: $threeColor;

        i {
          background: $threeColor;

          &:before {
            color: #fff;
          }
        }
      }
    }
  }
}
