@import "../../../assets/scss/variabels";
.inbox{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 56px);
  > div{
    width: 800px;
    > h2 {
      color: #000000;
      font-family: $font-family-Bold;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    > button {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #666;
      margin: 1rem 0;
      transition: all .3s;
      i {
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin-left: 6px;
        transition: all .3s;
        svg{
          transition: all .3s;
          width: 18px;
          height: 18px;
          fill: $three-color;
        }
      }
      &:hover{
        color: $three-color;
        i {
          background: $three-color;
          svg{
            fill: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .inbox{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
    > div{
      width: 90%;
    }
  }
}
