@font-face {
  font-family: iranSansWeb;
  src: url("./../font/IRANSansWeb(FaNum).eot");
  src: url("./../font/IRANSansWeb(FaNum).ttf");
  src: url("./../font/IRANSansWeb(FaNum).woff");
  src: url("./../font/IRANSansWeb(FaNum).woff2");
}
@font-face {
  font-family: iranSansWebBold;
  src: url("./../font/IRANSansFaNum-Bold.eot");
  src: url("./../font/IRANSansFaNum-Bold.ttf");
  src: url("./../font/IRANSansFaNum-Bold.woff");
  src: url("./../font/IRANSansFaNum-Bold.woff2");
}
