@media (max-width: 1200px) {
  .router-outlet{
    width: 100% !important;
  }
  .app-side-bar{
    position: absolute !important;
    right: 0 !important;
    z-index: 100 !important;
  }
}
@media (max-width: 992px) {
  .inbox{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: calc(100vh - 56px) !important;
    > div{
      width: 90% !important;
    }
  }
  .p-dialog{
    width: 70% !important;
  }
}
@media (max-width: 768px) {
  .p-dialog{
    width: 80% !important;
  }
  .modal-task-list {
    flex-direction: column-reverse !important;
    &__sidebar{
      width: 100% !important;
    }
    &__main{
      width: 100% !important;
    }
  }
  .task-list{
    &__button {
      flex-wrap: wrap !important;
      &__info {
        h2{
          flex: 1 !important;
        }
        h3{
          flex: 1 !important;
        }
      }
      &__buttons{
        margin-right: auto !important;
        button{
          opacity: 1 !important;
        }
      }
    }
  }
}
