@import "../../../assets/scss/variabels";

.header {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__button {
    height: 32px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
    gap: 8px;
    border-radius: 5px;
    transition: all .3s;

    &.c-flex {
      display: flex;
    }

    &.c-hidden {
      display: none;
    }

    &:hover {
      background: #f2efed;
      color: #000;
    }
  }
}
