@import "../../../../../assets/scss/variabels";

.task-list {
  &__button {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    width: 100%;

    &__info {
      h2 {
        font-family: $fontFamilyBold;
        font-size: 15px;
        margin-bottom: 5px;
        text-align: justify;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      h3 {
        font-size: 14px;
        margin: 0;
        text-align: justify;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    &__buttons {
      button {
        opacity: 0;
        height: 32px;
        color: #666;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 7px;
        gap: 8px;
        border-radius: 5px;
        transition: all 0.3s;

        &:hover {
          background: #f2efed;
          color: #000;
        }
      }
    }

    &:hover {
      button {
        opacity: 1;
      }
    }
  }
}

.modal-task-list {
  display: flex;
  height: 100%;
  overflow: auto;

  &__sidebar {
    width: 250px;
    background: #fcfaf8;
    padding: 10px;

    &__p {
      font-size: 14px;
      color: #666;
      font-family: $fontFamilyBold;
      margin: 0;
    }

    &__ul {
      margin: 1rem 0;

      li {
        &:not(:last-child) {
          border-bottom: 1px solid #eee;
          padding-bottom: .5rem;
          margin-bottom: .5rem;
        }

        a {
          font-size: 14px;
          color: #666;
          font-family: $fontFamily;
          margin: 0;
          padding: 8px 10px;
          border-radius: 5px;
          display: flex;
          width: 100%;
          transition: all .3s;

          &:hover {
            background: $twoColor;
          }
        }
      }
    }
  }

  &__main {
    width: calc(100% - 250px);
    padding: 10px;

    h2 {
      font-family: $fontFamilyBold;
      font-size: 15px;
      margin-bottom: 5px;
      text-align: justify;
    }

    h3 {
      font-family: $fontFamily;
      font-size: 14px;
      margin: 0;
      text-align: justify;
    }
  }
}

