@if (this.dataTask) {
  <section class="dataTask">
    <div class="task-list">
      @for (item of dataTask; track item.id) {
        <button (click)="showDialog(item.id)" class="task-list__button flex justify-between items-center">
          <div class="w-full task-list__button__info">
            <h2>{{ item.taskName }}</h2>
            <h3>{{ item.description }}</h3>
          </div>
          <div class="flex task-list__button__buttons">
            <button (click)="edite(item.id,$event)"><i class="pi pi-pen-to-square"></i></button>
            <button><i class="pi pi-calendar-clock"></i></button>
            <button><i class="pi pi-comment"></i></button>
            <button (click)="remove(item.id,$event)"><i class="pi pi-trash"></i></button>
          </div>
        </button>
      }
    </div>
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>

    <div class="parent-modal-div">
      <p-dialog header="صندوق ورودی" [(visible)]="visible" [modal]="true" [draggable]="false" [maximizable]="true"
                [resizable]="false">
        <div class="modal-task-list">
          <div class="modal-task-list__sidebar">
            <p class="modal-task-list__sidebar__p">پروژه</p>
            <ul class="modal-task-list__sidebar__ul">
              <li><a href="javascript:">صندوق ورودی</a></li>
              <li><a href="javascript:">سررسید</a></li>
            </ul>
            <p class="modal-task-list__sidebar__p">اولویت</p>
            <ul class="modal-task-list__sidebar__ul">
              <li><a href="javascript:">P4</a></li>
              <li><a href="javascript:">برچسب ها</a></li>
              <li><a href="javascript:">یادآوری ها</a></li>
              <li><a href="javascript:">محل</a></li>
            </ul>
          </div>
          <div class="modal-task-list__main">
            <h2 class="m-0">{{ showDialog_data?.taskName }}</h2>
            <h3 class="m-0">{{ showDialog_data?.description }}</h3>
          </div>
        </div>
      </p-dialog>
    </div>
  </section>
}
