<div class="add_task">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="add_task__header">
      <div>
        <input #taskName (keyup)="check_input($event)" formControlName="taskName" name="taskName" type="text" placeholder="اسم تسک">
        <input formControlName="description" name="description" type="text" placeholder="توضیحات">
        <div>
          <button type="button">
            <i class="pi pi-calendar-clock"></i>
            سررسید
          </button>
          <button type="button">
            <i class="pi pi-flag"></i>
            اولویت
          </button>
          <button type="button">
            <i class="pi pi-clock"></i>
            یادآوری ها
          </button>
          <button type="button">
            <i class="pi pi-ellipsis-h"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="add_task__footer">
      <button type="button">
        <i class="pi pi-inbox"></i>
        <span>صندوق ورودی</span>
        <i class="pi pi-angle-down"></i>
      </button>
      <div>
        <button type="submit" class="save" [disabled]="!isDisabled">
          @if (this.InboxService.isActiveBoxEditeTask() === 0) {
            اضافه
          } @else {
            اعمل
          }


        </button>
        <button type="button" (click)="close($event)" class="cansel">لغو</button>
      </div>
    </div>
  </form>
</div>


<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
