@import "../../../../../assets/scss/variabels";

.add_task {
  margin: 1rem 0;
  border: 1px solid #e6e6e6;
  border-radius: 10px;

  &__header {
    padding: 10px;

    > div {
      display: flex;
      flex-direction: column;

      input {
        height: 40px;

        &:focus {
          outline: none;
        }
      }

      > div {
        margin-top: 15px;
        display: flex;
        gap: 10px;

        button {
          display: flex;
          align-items: center;
          padding: 0 6px;
          transition: all .3s;
          border-radius: 6px;
          height: 32px;
          border: 1px solid #e6e6e6;
          color: #666;
          gap: 8px;
          font-size: 13px;

          &:hover {
            background: #f2efed;
            color: #000;
          }
        }
      }
    }
  }

  &__footer {
    padding: 10px;
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > button {
      height: 32px;
      color: #666;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 7px;
      gap: 8px;
      border-radius: 5px;
      transition: all 0.3s;
      font-size: 14px;

      &:hover {
        background: #f2efed;
        color: #000;
      }
    }

    > div {
      display: flex;
      gap: 15px;

      button {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        font-size: 14px;
        border-radius: 5px;
        transition: all 0.3s;

        &.cansel {
          background: #f5f5f5;
        }

        &.save {
          background: $threeColor;
          color: #fff;

          &[disabled] {
            opacity: .5;
          }
        }
      }
    }
  }
}
