<aside class="aside">
  <section class="aside__header">
    <div>
      <button class="btn-profile">
        <i class="profile">s</i>
        <span>shayankolahi</span>
        <i class="pi pi-angle-down"></i>
      </button>
    </div>
    <div>
      <button class="btn-small"><i class="pi pi-bell"></i></button>
      <button (click)="closeMenu()" class="btn-small"><i class="pi pi-table"></i></button>
    </div>
  </section>
  <a class="aside__add-task" href="javascript:">
    <i class="pi pi-plus"></i>
    وظیفه اضافه کنید
  </a>
  <div class="aside__list-link">
    <a href="javascript:">
      <i class="pi pi-search"></i>
      جست و جو
    </a>
    <a href="javascript:" class="active">
      <i class="pi pi-inbox"></i>
      صندوق ورودی
      @if (dataTask !== 0) {
        <span class="mr-auto flex justify-center items-center w-5 h-5 rounded bg-amber-700">
            <span class="text-white leading-7">{{ dataTask }}</span>
        </span>
      }
    </a>
    <a href="javascript:">
      <i class="pi pi-calendar"></i>
      امروز
    </a>
    <a href="javascript:">
      <i class="pi pi-calendar-clock"></i>
      آینده
    </a>
    <a href="javascript:">
      <i class="pi pi-filter"></i>
      فیلترها و برچسب ها
    </a>
  </div>
  <a class="aside__add-a-team" href="javascript:">
    <i class="pi pi-plus ml-2"></i>
    یک تیم اضافه کنید
  </a>
</aside>
