@layer tw-base, primeng, tw-components, tw-utilities;


@import "tailwindcss/base.css" layer(tw-base);
@import "tailwindcss/components.css" layer(tw-components);
@import "tailwindcss/utilities.css" layer(tw-utilities);

@import "./assets/scss/variabels";
@import "./assets/scss/fonts";

@import "primeng/resources/themes/arya-blue/theme.css";
@import "primeng/resources/primeng.css";


html , body{
  font-family: $font-family;
}
.p-dialog .p-dialog-header .p-dialog-title{
  font-family: $font-family-Bold;
}
.p-dialog-footer > button , .p-dialog.p-confirm-dialog .p-confirm-dialog-message{
  font-family: $font-family;
}

